body {
    background-color: #d9ddd7;
    font-family: Verdana, sans-serif;
}

h1 {
    color: darkgreen;
}

p {
    background-color: #6a7689;
    color: #ffffff;
    padding: 20px;
}

p.highlight {
    color: yellow;
    border: 2px solid yellow;
    margin: 0 20%;
    text-align: center;
}

a:link {
    color: #ffffff;
}

a:link:hover,
a:visited:hover{
    color : #6df469;
}

section {
    margin-bottom: 30px;
}
